.axisL {
    position: absolute;
    width: 16px;
    top: 24px;
    left: -8px;
    height: calc(100% - 48px);
    &:hover {
        > div {
            background-color: var(--mantine-color-error);
        }
    };
    cursor: pointer;
    pointer-events: initial;
}

.innerBoxL {
    height: 100%;
    background-color: var(--mantine-color-black);
}


.axisR {
    position: absolute;
    left: 24px;
    height: 16px;
    width: calc(100% - 48px);
    bottom: -8px;
    &:hover {
        > div {
            background-color: var(--mantine-color-error);
        }
    };
    cursor: pointer;
    pointer-events: initial;
}

.innerBoxR {
    height: 100%;
    background-color: var(--mantine-color-black);
}



.leftHandle {
    cursor: move;
    position: absolute;
    width: 10px;
    top: 0px;
    bottom: 0px;
    left: -5px;
}

.rightHandle {
    cursor: move;
    position: absolute;
    width: 10px;
    top: 0px;
    bottom: 0px;
    right: -5px;
}

.topHandle {
    cursor: move;
    position: absolute;
    height: 10px;
    left: 0px;
    right: 0px;
    top: -5px;
}

.bottomHandle {
    cursor: move;
    position: absolute;
    height: 10px;
    left: 0px;
    right: 0px;
    bottom: -5px;
}